#print{
	display: none;
}
#header1{
	display: none;
}
#header_text1{
	display: none;
}
#header_right{
	display: none;
}
#cssmenu{
	display: none;
}
#space{
	display: none;
}
#heading{
	display:block;
}
#except{
	display:none;
}

table{
	margin-left: 2%;
	margin-bottom: 2%;
	width:96%;
}

tr[id='head']{
	font-weight: bold;
	font-size: 14px;
	padding: 2px 5px;
	color:black;
}

td[id='design']{
	color:black;
	font-size: 10px;
	color:black;
}
td{
	font-family: Tahoma;
	color:black;
	font-size: 10px;
}

tr[id='subhead']{
	font-weight: bold;
	font-size: 12px;
	color:black;
}
table[id='list'] td
{
	font-family: Tahoma;
	color:black;
	font-size: 8px;
	padding: 1px;
}