body
{
}

table
{
text-transform:uppercase;
width:100%;
position:relative;
text-align:center;
border:1px DarkGray;
margin-left:0%;
margin-right:0%;
}
th
{
background-color:green;
color:white;
}
