.login-preloader{
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 9999;
}
p#error-username, p#error-password{
    color:#fff;
}
main{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-25%, -50%);
}
.input-field input{
    box-shadow: 0 1px 0 0 #fff !important;
    border-bottom-color: #fff !important;
    color:#fff;
    transition: all 200ms linear;
}
.input-field label{
    color:#fff;
}
.input-field input:focus + label{
    color: #fff !important;
}
.input-field input:focus{
    transition: all 200ms linear;
}
.force-hiding{
    display: none !important;
}