
body{ 
	
	
	font:13px Tahoma;
	color:#333;
	line-height:160%;
	margin:0;
	padding:0;
	text-align:center;
	}

h1{
	font-size:200%;
	font-weight:normal;
	}		
h2, h3, h4, h5, h6{
	font-weight:normal;
	margin:1em 0;
	}	
h2{            
	font-size:160%;
	}	
h3{          
	font-size:140%;
	}
h4{          
	font-size:120%;
	}				

a{
	text-decoration:none;
	color:#f30;
	}
a:hover{
	color:#999;
	}			
table, input, textarea, select, li{
	font:100% Trebuchet MS, Arial, Helvetica, Sans-Serif;
	line-height:160%;
	color:#333;
	}				
p, blockquote, ul, ol, form{
	margin:1em 0;
	}
blockquote{
	}
img{
	border:none;
	}			
hr{
	display:none;
	}	
table{	width:40%;
	border-collapse:collapse;
	}
th, td{	
	padding:2px 5px;
	}	
th{	
	text-align:left;
	}
li{
	display:list-item;
	}	
	
#container{	
	margin:0 auto;
	background:#fff;
	width:600px;
	padding:20px 40px;
	text-align:left;
	}		

	#form3{
		margin:1em 0;
		background:url(../images/form3/form_bg.jpg) no-repeat 0 0;
		width:542px;
		height:364px; /* fixed size (envelope graphic) */
		overflow:hidden;
		}
	#form3 h3{display:none;}	
	#form3 fieldset{
		margin:0;
		padding:0;
		border:none;	
		float:left;
		display:inline;
		width:200px;
		margin-left:34px;
		padding-top:80px;
		}	
	#form3 fieldset.last{
		width:254px;
		margin-left:17px;
		}				
	#form3 legend{display:none;}	
	#form3 p{margin:.5em 0;}	
	#form3 label{display:block;}	
	#form3 input, #form3 textarea{		
		width:192px;
		border:1px solid #ddd;
		background:#fff url(../images/form3/form_input.gif) repeat-x;
		padding:3px;
		}		
	#form3 textarea{
		width:246px;
		height:200px;
		overflow:auto;
		}					
	#form3 p.submit{
		margin:0 34px;
		clear:both;
		position:relative;
		}	
	#form3 button{
		padding:0;
		position:absolute;
		left:0;
		top:-3.5em;
		width:95px;
		height:36px;
		text-indent:-8000px;
		overflow:hidden;
		border:none;
		background:url(../images/form3/form_button.gif) no-repeat 0 0;
		color:#fff;
		cursor:pointer;
		}				
