/*

Copyright (C) 2005-2008 Ilya S. Lyubinskiy. All rights reserved.
Technical support: http://www.php-development.ru/

YOU MAY NOT
(1) Remove or modify this copyright notice.
(2) Re-distribute this code or any part of it.
    Instead, you may link to the homepage of this code:
    http://www.php-development.ru/javascripts/tab-view.php

YOU MAY
(1) Use this code on your website.
(2) Use this code as part of another product.

NO WARRANTY
This code is provided "as is" without warranty of any kind.
You expressly acknowledge and agree that use of this code is at your own risk.

*/

html, body { margin: 0px; padding: 0px; }

div.TabView
{
  font-family: TAHOMA;
  font-size:   13px;
  margin-left:20px;
  margin-right:20px;
}


/* ***** Tabs *************************************************************** */

div.TabView div.Tabs
{
  height: 30px;
}

div.TabView div.Tabs a
{
  display: block;
  float:    left;

  width: 120px;
  text-align: center;

  height:26px;
  line-height: 21px;
  margin-left:15px;
  vertical-align: middle;

  background: #333333;

  text-decoration: none;
  font-weight: 500;
  color:   white;
  cursor:  pointer;
  
}

div.TabView div.Tabs a:hover
{
  background: #2580A2;
  border:2px solid red;
}

div.TabView div.Tabs a.Current,
div.TabView div.Tabs a.Current:hover
{
  margin-top: 01px;
  height:     27px;
  background: #2580A2;
  cursor:  default;
  border: 2px solid red;
}


/* ***** Pages ************************************************************** */

div.TabView div.Pages
{
  clear: both;
  border: 2px solid #404040;
  margin-bottom:20px;

}

div.TabView div.Pages                  { overflow: hidden; }
div.TabView div.Pages div.Page         { overflow:   auto; }
div.TabView div.Pages div.Page div.Pad { padding: 7px 7px; }
