body
{
text-transform:uppercase;
}
#header 
{
  height: 55px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 0px;
  background: url('../pictures/header.png') no-repeat;
}

#logo
{
  height:100%;
  width: 100%;
  position: fixed;
  top: 3px;
  left: 0;
  margin-left: 10px;
  background: url('../pictures/student_icon.png') no-repeat;
}
#background
{
  height:100%;
  width: 100%;
  position: fixed;
  top: 5%;
  left: 0;
  background: url('../pictures/background.png') no-repeat;
  z-index:-11;
}


#footer 
{
  height: 70px;
  width: 100%;
  position:fixed ;
  bottom: 0;
  left: 0;
  margin-left: 0px;
  background: url('../pictures/footer.png') no-repeat;
}

#logout
{
  position: fixed;
  top:15;
  right: 0;
  margin-right: 20px;
}

#moodle
{
  position: fixed;
  top:15;
  right: 0;
  margin-right: 100px;
}

#footer_text
{
  position: fixed;
  bottom:10;
  left:20;
  right:20;
  text-align:center;	
}

#status_text
{
  position: fixed;
  bottom:0;
  left:20;
  right:20;
  text-align:center;	
}

#report_card_menu
{
  position: fixed;
  top:200;
  left:20;
  right:20;
  text-align:center;	
}

.button {
        
        -moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
        -webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
        box-shadow:inset 0px 1px 0px 0px #a6827e;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #524e48), color-stop(1, #000000));
        background:-moz-linear-gradient(top, #524e48 5%, #000000 100%);
        background:-webkit-linear-gradient(top, #524e48 5%, #000000 100%);
        background:-o-linear-gradient(top, #524e48 5%, #000000 100%);
        background:-ms-linear-gradient(top, #524e48 5%, #000000 100%);
        background:linear-gradient(to bottom, #524e48 5%, #000000 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#524e48', endColorstr='#000000',GradientType=0);
        
        background-color:#524e48;
        
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        
        border:1px solid #787470;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:13px;
        font-weight:normal;
        padding:6px 24px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #030303;
        
    }
    .button:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #524e48));
        background:-moz-linear-gradient(top, #000000 5%, #524e48 100%);
        background:-webkit-linear-gradient(top, #000000 5%, #524e48 100%);
        background:-o-linear-gradient(top, #000000 5%, #524e48 100%);
        background:-ms-linear-gradient(top, #000000 5%, #524e48 100%);
        background:linear-gradient(to bottom, #000000 5%, #524e48 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#524e48',GradientType=0);
        
        background-color:#000000;
    }
    .button:active {
        position:relative;
        top:1px;
    }


input[type="text"]{
    
    padding: 5px;   
    border: 1px solid #DDDDDD;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

}
input[type="text"]:hover
{
    border:1px solid #cccccc;
}
input[type="text"]:focus
{
    box-shadow:0 0 2px #FFFE00;
}
input[type="password"]{
    
    padding: 5px;   
    border: 1px solid #DDDDDD;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

}


#home_content
{
  position: fixed;
  top:200;
  left:20;
  right:20;
  text-align:center;	
}

#basic_information_form
{
	position: fixed;
  	top:200;
 	left:20;
  	right:20;
  	text-align:center;
}

#profile_pic
{
	position: relative;
	z-index: -1;
	top: 100;
	border:#568F23;
}


.CSSTableGenerator {
	margin:0px;padding:0px;
	margin-left:25%;
	margin-right:25%;
	margin-bottom:8%;
	width:50%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	z-index: -2;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#e5e5e5; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #4c4c4c 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #4c4c4c 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#000000");	background: -o-linear-gradient(top,#4c4c4c,000000);

	background-color:#4c4c4c;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #4c4c4c 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #4c4c4c 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#000000");	background: -o-linear-gradient(top,#4c4c4c,000000);

	background-color:#4c4c4c;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}




#complete_view_table_1
{
	width:45%;
	position:absolute;
	top:250;
	left:-20%;
	
}

#complete_view_table_2
{
	width:40%;
	position:absolute;
	top:250;
	left: 30%;
	
}

#complete_view_table_3
{
	width:50%;
	position:relative;
	top:650;
	left:-20%;
	
}
#complete_view_table_5
{
	width:30%;
	position:relative;
	top:220;
	left:35%;
	
}
#complete_view_table_6
{
	width:90%;
	position:relative;
	top:200;
	left:-20%;
	
}

#complete_view_table_4
{
	width:60%;
	margin-top:120;
	position:relative;	
}

.myButton {
        
        -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
        -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
        box-shadow: 0px 1px 0px 0px #f0f7fa;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
        background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
        background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
        background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
        background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
        background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
        
        background-color:#33bdef;
        
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        
        border:1px solid #057fd0;
        
        display:inline-block;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        
        text-shadow:0px -1px 0px #5b6178;
        
    }
    .myButton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
        background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
        
        background-color:#019ad2;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
	
#section_wise_view{
	margin-left:2%;
	margin-right:2%;
	
}





