table{
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 2%;
	
}



td[id='design']{
	background: #BBBBBB;
	color:black;
	font-size: 14px;
}
td{
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid black;
}

tr[id='subhead']{
	background: #555555;
	color:white;
	font-weight: bold;
	font-size: 15px;
}
tr[id='head']{
	background: #333333;
	color:white;
	font-weight: bold;
	font-size: 16px;
	padding: 7px 10px;
}
#heading{
	display:none;
}

table[id='except'] td
{
	border:none;
}
table[id='indiscipline'] td
{
	text-align:center;
}

.nopadding{
	border: 1px solid black;
	border-collapse: collapse;
}
.nopadding tr td{
	padding: 3px;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}
.nopadding1{
	border-collapse: collapse;
	border:none;
	margin: 0px;
	width: 100%;
	height: 100%;
}
.nopadding1 tr td{
	margin: 0px;
	padding: 3px;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}
