#print{
	display: none;
}
#header1{
	display: none;
}
#header_text1{
	display: none;
}
#header_right{
	display: none;
}
#cssmenu{
	display: none;
}
#space{
	display: none;
}
#heading{
	display:block;
}
#except{
	display:none;
}

table{
	margin-left: 2%;
	margin-bottom: 2%;
	width:96%;
}

tr[id='head']{
	font-weight: bold;
	font-size: 14px;
	padding: 2px 5px;
	color:black;
}

td[id='design']{
	color:black;
	font-size: 10px;
	color:black;
}
td{
	font-family: Tahoma;
	color:black;
	font-size: 10px;
}

tr[id='subhead']{
	font-weight: bold;
	font-size: 12px;
	color:black;
}
table[id='list'] td
{
	font-family: Tahoma;
	color:black;
	font-size: 8px;
	padding: 1px;
}
div.TabView div.Pages
{
	border:none;
}
div.TabView div.Tabs {
	border:none;
}
#head1
{
display:none;
}
#head
{
	background:#999999;
}
#subhead
{
	background:#BBBBBB;
}
table tr td{
	padding:5px;
}
.last{
	border:none;
}
.last tr td{
	border:none;
}
.nopadding{
	border: 1px solid black;
	border-collapse: collapse;
}
.nopadding tr td{
	padding: 3px;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}
.nopadding1{
	border-collapse: collapse;
	border:none;
	margin: 0px;
	width: 100%;
	height: 100%;
}
.nopadding1 tr td{
	margin: 0px;
	padding: 3px;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}